/* 水平垂直居中 */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text-center {
  text-align: center;
}

/* 超过内容部分省略 */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
